<!doctype html>
<html lang="en">

    <head>
        
        <meta charset="utf-8" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesbrand" name="author" />
        <title>{% block title %}Home{% endblock %}</title>
        
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
        {% endblock %}   
    </head>
 <body class="authentication-bg">   
        {% block body %}{% endblock %}


        {% block javascripts %}
           
        {% endblock %}
    </body>
</html>
